$white: #ffffff;

$neutral-050: #f8faf9;
$neutral-100: #ebeeed;
$neutral-200: #dce2e0;
$neutral-300: #ccd5d2;
$neutral-400: #bac7c3;
$neutral-500: #a6b6b1;
$neutral-600: #90a49e;
$neutral-700: #768e86;
$neutral-800: #597169;
$neutral-900: #34423e;

$green-050: #edfdf7;
$green-100: #c4f9e6;
$green-200: #91f3d1;
$green-300: #4decb4;
$green-400: #00df91;
$green-500: #00cc85;
$green-600: #00b776;
$green-700: #009d66;
$green-800: #007c50;
$green-900: #004930;
